/*
Team lame (Amelia Chin, Ethan Shenker, Liam Kronman, Maddy Andersen)
SoftDev — Rona Ed.
P3 - Study Zone
2021-04-29
*/

/*
  buttons, as well as styling for login.html and register.html were inspired by
  https://get.foundation/building-blocks/blocks/sign-in-form.html
*/

body {
  background-color: #bdbad0;
}

.body {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

h1 {
  color: #4b2142;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  color: #539987;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 30px;
  text-align: center;
  font-style: bold;
}

h5 {
  text-transform: uppercase;
  color: #bdbad0;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 20px;
  text-align: center;
}

.sign-in-form {
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: #4b2142;
  margin-left: 30%;
  margin-right: 30%;
}

.sign-in-form label {
  text-transform: uppercase;
  color: #539987;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 24px;
}

.sign-in-form input {
  color: black;
  font-size: 16px;
}

.sign-in-form input:focus {
  outline:0;
  opacity: .9;
}

.sign-in-form-username,
.sign-in-form-password {
  border-radius: 30px;
  border: none;
  opacity: .6;
  transition: all ease .4s;
  padding: .5rem;
  padding-right: 0rem;
  width: 100%;
  color: #539987;
}

.button {
  border-radius: 30px;
  border: 1px solid #539987;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;
}

.button:hover {
  background-color: #34231e;
}

.error-button {
  border-radius: 30px;
  border: 1px solid #539987;
  background-color: #4b2142;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
  transition: all ease .4s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.error-button:hover {
  background-color: #34231e;
}

input[type=submit] {
  color: #539987;
}

.pfp-footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #539987;
	color: #4b2142;
	text-align: center;
  padding-top: .001rem;
  padding-bottom: .001rem;
}

.footer {
  position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #539987;
	color: #4b2142;
	text-align: center;
}

.banner-text {
  color: #539987;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}

.banner{
  width: 100%;
  background-color: #4b2142;
  text-align: center;
  padding-bottom: 1vh;
}

.pfp-button {
  border-radius: 30px;
  border: 1px solid #539987;
  background-color: #4b2142;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .5rem;
  transition: all ease .4s;
  width: 40%;
}

.logout-button {
  border-radius: 30px;
  border: 1px solid #539987;
  background-color: #4b2142;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
  transition: all ease .4s;
  width: 10%;
  float: right;
  margin-left: -50%;
  margin-top: 2em;
  position: relative;
  right: 1vw;
}

.logout-button:hover {
  background-color: #34231e;
}

.logout-button:focus {
  outline:0;
}

.pfp-button:hover {
  background-color: #34231e;
}

.pfp-button:focus {
  outline:0;
}

.login_error{
    border-radius: .5rem;
    background-color: #A32D00;
    margin-left: 30%;
    margin-right: 30%;
  }

img{
  height: 23vw;
  width: 30vw;
  border-radius: 10px;
  border: none;
}

#clock{
    text-transform: uppercase;
    color: #34231e;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 36px;
    text-align: center;
}

#holi{
  text-transform: uppercase;
  color: #4b2142;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 20px;
  font-style: italic;
}

#adv{
  color: #539987;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 18px;
}

.weather-label{
  text-transform: uppercase;
  color: #539987;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 24px;
}

.weather{
  color: #4b2142;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 24px;
}

li{
  text-align: left;
  color: #34231e;
  font-size: 18px;
}

#first-col {
  position: relative;
  top: 10%;
}

#third-col {
  position: relative;
  top: 5%;
}

.tb{
  border-radius: 10px;
  border: none;
  padding: .5rem
}

.tb:focus {
  outline:0;
}
