body {
  background-color: #bdbad0;
}

h1 {
  color: #4b2142;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  color: #539987;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 24px;
  text-align: center;
}

.sign-in-form {
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: #4b2142;
  margin-left: 30%;
  margin-right: 30%;
}

.sign-in-form label {
  text-transform: uppercase;
  color: #539987;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 24px;
}

.sign-in-form input {
  color: black;
  font-size: 16px;
}

.sign-in-form input:focus {
  outline:0;
  opacity: .9;
}

.sign-in-form-username,
.sign-in-form-password {
  border-radius: 30px;
  border: none;
  opacity: .6;
  transition: all ease .4s;
  padding: .5rem;
  padding-right: 0rem;
  width: 100%;
  color: #539987;
}

.button {
  border-radius: 30px;
  border: 1px solid #539987;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;
}

.button:hover {
  background-color: #34231e;
}

.error-button {
  border-radius: 30px;
  border: 1px solid #539987;
  background-color: #4b2142;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
  transition: all ease .4s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.error-button:hover {
  background-color: #34231e;
}

input[type=submit] {
  color: #539987;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #539987;
	color: #4b2142;
	text-align: center;
}

.banner-text {
  color: #539987;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}

.banner{
  width: 100%;
  background-color: #4b2142;
  text-align: center;
  padding-bottom: 1vh;
}

.pfp-button {
  border-radius: 30px;
  border: 1px solid #539987;
  background-color: #4b2142;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
  transition: all ease .4s;
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  width: 20%;
}

.logout-button {
  border-radius: 30px;
  border: 1px solid #539987;
  background-color: #4b2142;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
  transition: all ease .4s;
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  width: 10%;
  float: right;
  margin-left: -50%;
  margin-top: 2em;
  position: relative;
  right: 1vw;
}

.logout-button:hover {
  background-color: #34231e;
}
.pfp-button:hover {
  background-color: #34231e;
}
