<!DOCTYPE html>
<!--
  Team SeamLess (Maddy Andersen, Amelia Chin, Erin Lee, Stella Oh)
  SoftDev -- Rona Ed.
  P1 -
  2021-01-xx
-->
 <html>

 <head>
	 <title>Error Page</title>
	 <link rel= "stylesheet" type="text/css" href="../static/css/style.css">
 </head>

  <body>
    <h1>Oops!</h1>
    <h2> {{ message }}</h2>

    <form action = "{{ route }}" method="POST">
        <input value = "Try Again" type="submit" class="error-button">
    </form>

    <br><br>
    <div class="footer">
        <p>Team Lame (Amelia Chin, Ethan Shenker, Liam Kronman, Maddy Andersen)</p>
    </div>

  </body>

</html>
