<!--
    Team lame (Amelia Chin, Ethan Shenker, Liam Kronman, Maddy Andersen)
    SoftDev — Rona Ed.
    P3 - Study Zone
    2021-04-29
-->
<!DOCTYPE html>
 <html>

 <head>
	 <title>Error</title>
	 <link rel= "stylesheet" type="text/css" href="../static/css/style.css">
 </head>

  <body>
    <h1>Oops!</h1>
    <h2> {{ message }}</h2>

    <form action = "{{ route }}" method="POST">
        <input value = "Try Again" type="submit" class="error-button">
    </form>

    <br><br>
    <div class="footer">
        <p>Team Lame (Amelia Chin, Ethan Shenker, Liam Kronman, Maddy Andersen)</p>
    </div>

  </body>

</html>
