<!--
    lame
    Amelia Chin, Ethan Shenker, Maddy Andersen, Liam Kronman
    P3 - Study Zone
    2021-04-26
-->

<!DOCTYPE html>

<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type = "text/css" href="../static/css/style.css">
</head>

<body>
      <h1>Welcome!</h1>

      {% if message is defined %}
      <div class="login_error">
        <h5> {{ message }} </h5>
      </div>
      {% endif %}


        <form class="sign-in-form" method="POST" action="/login">

            <label for="sign-in-form-username">Username</label>
            <br>
            <input name="username" type="text" required="required" min=0 class="sign-in-form-username">
            <br><br>
            <label for="sign-in-form-password">Password</label>
            <br>
            <input name="password"  type="password" required="required" min=0 class="sign-in-form-password">
            <br><br>
            <input type="submit" value="Login" class="button">
        </form>
       <br>
        <form class="sign-in-form" method="POST" action = "/create_user">
          <input type="submit" value="New? Sign up!" class="button">
        </form>

        <br><br>

        <div class="footer">
        		<p>Team Lame (Amelia Chin, Ethan Shenker, Liam Kronman, Maddy Andersen)</p>
      	</div>
</body>
</html>
