<!--
    lame
    Amelia Chen, Ethan Shenker, Maddy Andersen, Liam Kronman
    P3 - Study Zone
    2021-04-26
-->

<!DOCTYPE html>

<html lang="en">

<head>
    <title> {% block title %}  {% endblock %} </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <section class="header">

        {% if session.get("user_id") %}
        <h4> Hello, {{ session.get("username") }}! </h4>
        <div class="logout">
            <form method="get" action="/logout">
                <input name="Submit" type="submit" value="Logout"> <br> 
            </form>
        </div>
        {% else %}

        <h4> Either log in or register! </h4>

        <div class="register">
            <form method="post" action="/register">
                <label for="ur"> Create </label> <br>
                <input name="username" type="text" required="required" min=0> <br>
                <input name="password" type="password" required="required" min=0> <br>
                <input name="Submit" type="submit" value="Create Account"> <br>
            </form>
        </div>

        <br>
        
        <div class="login">
            <form method="post" action="/login">
                <label for="username"> Login w/ username (dev) </label> <br>
                <input name="username" type="text" required="required" min=0> <br>
                <input name="password" type="password" required="required" min=0> <br>
                <input name="Submit" type="submit" value="Login"> <br> 
            </form>
        </div>

        {% endif %}
    
    </section>

    <br> <br>

    <section class="footer">
        {% if session.get("user_id") %}
        logged in!
        {% endif %}
    </section>


</body>
</html>
