<!--
    Team lame (Amelia Chin, Ethan Shenker, Liam Kronman, Maddy Andersen)
    SoftDev — Rona Ed.
    P3 - Study Zone
    2021-04-29
-->

<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Study Buddy</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body onload="updateClock(); setInterval('updateClock()', 1000)">


            <div class = "banner">
                <form method="get" action="/logout">
                    <input name="Submit" type="submit" value="Logout" class = "logout-button"> <br>
                </form>
                <div class = "banner-text">{{ greeting }}!</div>
            </div>



        <section class="body">
            <div class="card" id="first-col">
                <div id="weather">
                    <span class="weather-label">Today's weather is:</span>
                    <span class="weather">{{ weather['main'] }}</span>
                    <br>
                    <span class="weather-label">Current temperature:</span>
                    <span class="weather">{{ weather['temp'] }}°</span>
                    <br><br>
                </div>
                <div class="notes">
                    <h2>Notes</h2>
                    <form method="post" action="/notes_update">
                        <textarea name="notes" rows="20" cols="35" style="resize:none;" class="tb">{{ user_note }}</textarea><br>
                        <input type="submit" name="submit" value="Save" class="pfp-button">
                    </form>

                </div>
            </div>

            <div class="card">
                <div id="clock"></div>
                <div>
                    <p id="holi">{{ holi }}</p>
                    <img src = "{{ picture }}">
                    <p id="adv">"{{ adv }}"</p>
                    <br>
                </div>
            </div>
            <div class="card" id="third-col">
                <div class="to-do">

                    <h2> to-do list </h2>
                    <ol>
                    {% for elem in to_dos %}
                        <li><form action="/delete_item" method="post"><span style="width: 50%; float: left;">{{ elem[0] }}: {{ elem[1] }}</span><input type="hidden" name="item_id" value={{ elem[2] }} style="width: 20%; float: left;"><input type="submit" value="Delete" class="pfp-button" style="width: 30%; float: left; position: relative; bottom: 0.4vh;"></form></li>
                    {% endfor %}
                    </ol>

                    <form method="post" action="/add_item">
                        <label for="title" class="weather"> Title </label> <br>
                        <textarea name="title" rows="1" cols="30" style="resize:none;" class="tb"></textarea> <br>
                        <label for="description" class="weather"> Stuff to do! </label> <br>
                        <textarea name="description" rows="3" cols="30" style="resize:none;" class="tb"></textarea> <br>
                        <input type="submit" name="submit" value="Add Item" class="pfp-button">
                    </form>

                    <form method="post" action="/clear_all">
                        <input type="submit" name="submit" value="Clear All" class="pfp-button">
                    </form>
                </div>
            </div>
        </section>


        <br> <br>

        <section class="footer">
            {% if session.get("user_id") %}
            {% endif %}
        </section>

        <div class="pfp-footer">
        		<p>Team Lame (Amelia Chin, Ethan Shenker, Liam Kronman, Maddy Andersen)</p>
      	</div>
        <script src="/static/js/clock.js"></script>
    </body>
</html>
